.z-tab-selected .z-tab-text {
/* 	color:#0077FF !important; */
	color:#CC0490 !important;
	text-decoration: underline !important;
	font-weight: bold !important;
	text-transform:uppercase !important;
}

#organigramme {
	overflow: hidden;
}

.grid-fdp .z-paging-info {
	display: none !important;
}

#chart {
   width: 100%;
   overflow: hidden;
   background:#F0F8FF;
}

.toolbar-orga {
	border-color: #C5C5C5; 
	border-style: solid; 
	border-width: 1px 0 1px; 
	display: block;
	padding: 2px;
	background: -webkit-linear-gradient(top, #F0F8FF 0%, #CEECF5 100%);
    background: linear-gradient(to bottom, #F0F8FF 0%, #CEECF5 100%);
	position: relative; zoom: 1;
}

.hide { 
	display : none;
}

.banner {
	background-color:#0077FF;
	color: white;
	padding: 5px 10px;
}
.banner-head{
	font-size: 2.4em;
}
.banner .logout{
	text-decoration: underline;
	cursor: pointer;
} 
.important {
	font-weight: bold;
}

.footer {
	background-color:#0077FF;
	color: white;
	padding-top: 5px;
}

.footer a,.footer a:VISITED {
	color: white;	
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn{
	cursor: pointer;
}

.warn{
	color:#FF0000;
}

.uppercase {
	text-transform:uppercase;
}

.head1{
	font-size: large;
}
.head2{
	font-size: medium;
}

.login_message{
	color:red;
}

.z-notification-info .z-notification-content {
    text-align: justify;
}

.loginPage {
	background:url('imgs/bg-login.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.mandatory {
	background-image:url('imgs/mandatory.jpg');
	background-position:top right;
	background-repeat:no-repeat;
	padding-right:13px;
}

.statut-en-cours {
    background-color: #0077FF;
    color: white;
    padding: 8px 8px;
    height: 30px !important;
    display: block;
    text-align: center;
    margin: 0 auto;
    float: right;
}  

.toolbar-libelle-entite {
	font-size: 1.3em !important;
	margin-top: 5px;
    position: absolute;
    margin-left: -60px;
}

.toolbar-favoris-entite {
    margin-left: -85px;
}

.no-padding-right .z-hlayout-inner {
	padding-right: 0px !important;  
}

.align-center {
	text-align: center;
	white-space:nowrap;
}

.align-right {
	text-align: right;
}

.z-grid {
    border: none !important;
}

.z-column-content, .z-row-content, .z-group-content, .z-groupfoot-content, .z-footer-content {
    color: black;
}

.z-grid-odd > .z-row-inner, .z-grid-odd > .z-cell {
    background: none repeat scroll 0 0 #FFFFFF !important;
}


.z-row:hover > .z-row-inner, .z-row:hover > .z-cell {
	background: none !important;
	color: red !important;
}

/* .z-row:hover > .z-row-inner > .z-row-content { */
/* 	color: red !important; */
/* }  */


/* Centrage de la popup d'attente */
div#zk_proc-t.z-loading {
  margin: auto;
  position: absolute;
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  width: 150px;
  height: 38px;
}

/* background-color: #6eadff; */
/* cursor: wait; */
/* white-space: nowrap; */
/* padding:3px; */

/* .z-listheader { */
/*     background: linear-gradient(to bottom, #0077FF 0%, #CB76D4 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0) !important; */
/*     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077FF', endColorstr='#CB76D4',GradientType=0 ); */
/* } */

/* .z-listheader-content { */
/* 	color: #FFFFFF !important; */
/* } */
	
.z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {	
	font-size:11px !important;
	padding: 2px 2px 2px 2px !important;
}

.z-column-content, .z-row-content, .z-group-content, .z-groupfoot-content, .z-footer-content {
	font-size: 10px !important;
	padding: 1px 2px 2px 2px;
}

.z-listheader-button {
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.z-listheader-sort .z-listheader-sorticon {
    color: #FFFFFF !important;
}

.z-combobox-input[disabled][readonly] {
	 background: none repeat scroll 0 0 #F0F0F0 !important;
	 border-color: #CFCFCF !important;
}

.z-textbox[disabled], .z-decimalbox[disabled], .z-intbox[disabled], .z-longbox[disabled], .z-doublebox[disabled], .z-combobox-disabled *, .z-bandbox-disabled *, .z-datebox-disabled *, .z-timebox-disabled *, .z-spinner-disabled *, .z-doublespinner-disabled * {
    color: #222222 !important;
} 

.z-combobox-input[readonly], .z-bandbox-input[readonly], .z-datebox-input[readonly], .z-timebox-input[readonly], .z-spinner-input[readonly], .z-doublespinner-input[readonly] {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-color: #CFCFCF !important;
}

.z-toolbar-start {
	height: 30px !important;
}
 
.z-listcell {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.z-group-content { 
	text-align: left !important;
}

.button-entite-edit {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.statut-actif {
	border-style: solid !important;
}

.statut-prevision {
	border-style: dashed !important; 
}

.statut-transitoire {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
}

.statut-inactif {
	background: repeating-linear-gradient(
				  45deg,
				  rgba(0, 0, 0, 0.2),
				  rgba(0, 0, 0, 0.2) 5px,
				  rgba(0, 0, 0, 0.4) 5px,
				  rgba(0, 0, 0, 0.3) 10px
				); 
}

.ui-tooltip, .arrow:after {
    background: #CEECF5 !important; 
    border: 2px solid black !important;
  }
  
 .ui-tooltip {
   padding: 10px 20px !important;
   color: black !important;
   border-radius: 20px !important;
   font: bold 12px "Helvetica Neue", Sans-Serif !important;
   box-shadow: 0 0 7px white !important;
 }
 
 .arrow {
   width: 70px;
   height: 16px;
   overflow: hidden;
   position: absolute;
   left: 50%;
   margin-left: -35px;
   bottom: -16px;
 }
 
 .arrow.top {
   top: -16px;
   bottom: auto;
 }
 
 .arrow.left {
   left: 20%;
 }
 
 .arrow:after {
   content: "";
   position: absolute;
   left: 20px;
   top: -20px;
   width: 25px;
   height: 25px;
   box-shadow: 6px 5px 9px -9px black;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 .arrow.top:after {
   bottom: -20px;
   top: auto;
 }
 
.z-loading {
	background-color: transparent;
	border: 0px;
	padding: 0px;
}

.z-loading-indicator {
	border: 0px;
	display:none;
}

.z-loading {
	width: 49px;
	height: 49px;
	margin: auto;
}
.z-loading:before {
	content: '';
	width: 49px;
	height: 5px;
	background: rgb(0,0,0);
	opacity: 0.1;
	position: absolute;
	top: 58px;
	left: 0;
	border-radius: 50%;
	animation: shadow 0.58s linear infinite;
		-o-animation: shadow 0.58s linear infinite;
		-ms-animation: shadow 0.58s linear infinite;
		-webkit-animation: shadow 0.58s linear infinite;
		-moz-animation: shadow 0.58s linear infinite;
}
.z-loading:after {
	content: '';
	width: 49px;
	height: 49px;
	background: rgb(26,54,104);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
	animation: cssload-animate 0.58s linear infinite;
		-o-animation: cssload-animate 0.58s linear infinite;
		-ms-animation: cssload-animate 0.58s linear infinite;
		-webkit-animation: cssload-animate 0.58s linear infinite;
		-moz-animation: cssload-animate 0.58s linear infinite;
}

@keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@-o-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-o-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-o-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-o-transform: translateY(0) rotate(90deg);
	}
}

@-ms-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-ms-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-ms-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-ms-transform: translateY(0) rotate(90deg);
	}
}

@-webkit-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-webkit-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-webkit-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-webkit-transform: translateY(0) rotate(90deg);
	}
}

@-moz-keyframes cssload-animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		-moz-transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		-moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 39px;
	}
	75% {
		-moz-transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		-moz-transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow {
	0%,
	100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}

@-o-keyframes shadow {
	0%,
	100% {
		-o-transform: scale(1, 1);
	}
	50% {
		-o-transform: scale(1.2, 1);
	}
}

@-ms-keyframes shadow {
	0%,
	100% {
		-ms-transform: scale(1, 1);
	}
	50% {
		-ms-transform: scale(1.2, 1);
	}
}

@-webkit-keyframes shadow {
	0%,
	100% {
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.2, 1);
	}
}

@-moz-keyframes shadow {
	0%,
	100% {
		-moz-transform: scale(1, 1);
	}
	50% {
		-moz-transform: scale(1.2, 1);
	}
}