.z-tab-selected .z-tab-text {
/* 	color:#0077FF !important; */
	color:#CC0490 !important;
	text-decoration: underline !important;
	font-weight: bold !important;
	text-transform:uppercase !important;
}

#organigramme {
	overflow: hidden;
}

#chart {
   width: 100%;
   overflow: hidden;
   background:#F0F8FF;
}

.hide { 
	display : none;
}

.banner {
	background-color:#0077FF;
	color: white;
	padding: 5px 10px;
}
.banner-head{
	font-size: 2.4em;
}
.banner .logout{
	text-decoration: underline;
	cursor: pointer;
} 
.important {
	font-weight: bold;
}

.footer {
	background-color:#0077FF;
	color: white;
	padding-top: 5px;
}

.footer a,.footer a:VISITED {
	color: white;	
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn{
	cursor: pointer;
}

.warn{
	color:#FF0000;
}

.uppercase {
	text-transform:uppercase;
}

.head1{
	font-size: large;
}
.head2{
	font-size: medium;
}

.login_message{
	color:red;
}

.loginPage {
	background:url('/imgs/bg-login.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.mandatory {
	background-image:url('/imgs/mandatory.jpg');
	background-position:top right;
	background-repeat:no-repeat;
	padding-right:13px;
}

.statut-en-cours {
	background-color:#5D3870;
	color: white;
	padding: 10px 10px;
}  

.toolbar-libelle-entite {
	font-size: 1.5em !important;
}

.no-padding-right .z-hlayout-inner {
	padding-right: 0px !important; 
}

.align-center {
	text-align: center;
	white-space:nowrap;
}

.align-right {
	text-align: right;
}

.z-grid {
    border: none !important;
}

.z-column-content, .z-row-content, .z-group-content, .z-groupfoot-content, .z-footer-content {
    color: black;
}

.z-grid-odd > .z-row-inner, .z-grid-odd > .z-cell {
    background: none repeat scroll 0 0 #FFFFFF !important;
}


.z-row:hover > .z-row-inner, .z-row:hover > .z-cell {
	background: none !important;
	color: red !important;
}

/* .z-row:hover > .z-row-inner > .z-row-content { */
/* 	color: red !important; */
/* }  */


/* Centrage de la popup d'attente */
div#zk_proc-t.z-loading {
  margin: auto;
  position: absolute;
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  width: 150px;
  height: 38px;
}

/* background-color: #6eadff; */
/* cursor: wait; */
/* white-space: nowrap; */
/* padding:3px; */

/* .z-listheader { */
/*     background: linear-gradient(to bottom, #0077FF 0%, #CB76D4 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0) !important; */
/*     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077FF', endColorstr='#CB76D4',GradientType=0 ); */
/* } */

/* .z-listheader-content { */
/* 	color: #FFFFFF !important; */
/* } */
	
.z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {	
	font-size:11px !important;
	padding: 2px 2px 2px 2px !important;
}

.z-column-content, .z-row-content, .z-group-content, .z-groupfoot-content, .z-footer-content {
	font-size: 10px !important;
	padding: 1px 2px 2px 2px;
}

.z-listheader-button {
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.z-listheader-sort .z-listheader-sorticon {
    color: #FFFFFF !important;
}

.z-combobox-input[disabled][readonly] {
	 background: none repeat scroll 0 0 #F0F0F0 !important;
	 border-color: #CFCFCF !important;
}

.z-textbox[disabled], .z-decimalbox[disabled], .z-intbox[disabled], .z-longbox[disabled], .z-doublebox[disabled], .z-combobox-disabled *, .z-bandbox-disabled *, .z-datebox-disabled *, .z-timebox-disabled *, .z-spinner-disabled *, .z-doublespinner-disabled * {
    color: #222222 !important;
} 

.z-combobox-input[readonly], .z-bandbox-input[readonly], .z-datebox-input[readonly], .z-timebox-input[readonly], .z-spinner-input[readonly], .z-doublespinner-input[readonly] {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-color: #CFCFCF !important;
}

.z-toolbar-start {
	height: 30px !important;
}
 
.z-listcell {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.button-entite-edit {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.statut-actif {
	border-style: solid !important;
}

.statut-prevision {
	border-style: dashed !important; 
}

.statut-transitoire {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
}

.statut-inactif {
	background-color: gray !important; 
	background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255,255,255,.3) 5px, rgba(255,255,255,.3) 10px);
}

.ui-tooltip, .arrow:after {
    background: black !important;
    border: 2px solid white !important;
  }
  
 .ui-tooltip {
   padding: 10px 20px !important;
   color: white !important;
   border-radius: 20px !important;
   font: bold 12px "Helvetica Neue", Sans-Serif !important;
   box-shadow: 0 0 7px black !important;
 }
 
 .arrow {
   width: 70px;
   height: 16px;
   overflow: hidden;
   position: absolute;
   left: 50%;
   margin-left: -35px;
   bottom: -16px;
 }
 
 .arrow.top {
   top: -16px;
   bottom: auto;
 }
 
 .arrow.left {
   left: 20%;
 }
 
 .arrow:after {
   content: "";
   position: absolute;
   left: 20px;
   top: -20px;
   width: 25px;
   height: 25px;
   box-shadow: 6px 5px 9px -9px black;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 .arrow.top:after {
   bottom: -20px;
   top: auto;
 }